<div class='row rental-img ratio ratio-4x3 text-center'>
  <img src='/rental-pics/{{imageUrl}}' alt='{{headline}}' />
</div>
<div class='row row-cols-sm-2 container-fluid'>
  <address class='col-5 col-sm-6 col-xl-7 rentalAddress text-start pt-2 ps-sm-2'>
    <h4 class='text-truncate'>{{headline}}</h3>
    <h5 class='text-truncate'>{{city}}, {{province}}</h4>
    {{#if cust}}
     <button data-id="{{_id}}" class="rentBtn btn" type="button">Rent</button>
    {{/if}}
  </address>
  <p class='col col-sm-6 col-xl-5 text-end pe-3 pt-2'>
    <span class='rentPrice'>C${{pricePerNight}}/night</span>
    <br>
    <span><i class='fa-solid fa-bed'></i> &nbsp;{{numBedrooms}} </span><span class='fw-normal'><i class="fa-solid fa-bath"></i>{{numBathrooms}}</span>
    <br>
    <span><i class='fa-solid fa-user-group'></i>&nbsp;Sleeps {{numSleeps}}</span>
    
    <br />
    
  </p>
</div>