<article class='rental-container'>
  <div class='rental-img'>
    <img src='/{{imageUrl}}' alt='{{headLine}}' />
  </div>
  <div class='rental-details'>
    <address class='rentalAddress'>
      <h3>{{headLine}}</h3>
      <h4>{{city}}, {{province}}</h4>
    </address>
    <p class='rent-otherInfo'>
      {{numBedrooms}}
      BR (<i>Sleeps {{numSleeps}}</i>)
      <br />{{numBathrooms}}
      Bath<br />
      <span class='rentPrice'>C${{pricePerNight}}/night</span>
    </p>
  </div>
</article>