<section id='clerkList' class='container-fluid row justify-content-center align-items-center'>
  {{#if message}}
    <h1 class='dGreen'>{{message}}</h1>
  {{else}}
    {{#if rentals.length}}
      <div class='row px-2 mt-3 table-responsive container-fluid col-xxl-10'>
        <h2 class='mt-4 pt-4 align-self-center row'>List of Rentals</h2>
        <table class='table table-dark'>
          <thead>
            <tr>
              <th scope='col'>Rental Title</th>
              <th scope='col' class='text-center'>Number of Guests</th>
              <th scope='col' class='text-wrap text-center'>Number of Bedrooms</th>
              <th scope='col' class='text-wrap text-center'>Number of Bathrooms</th>
              <th scope='col' class='text-wrap text-center'>Nightly Rental Rate</th>
              <th scope='col'>City </th>
              <th scope='col'>Province </th>
              <th scope='col'>Image URL </th>
              <th scope='col' class='text-center'>Featured Rental</th>
              <th scope='col' class='text-center' colspan='2'>Actions</th>
            </tr>
          </thead>
          <tbody class='table-group-divider'>
            {{#each rentals}}
              <tr>
                <td scope='row'>{{headLine}}</td>
                <td class='text-center'>{{numSleeps}}</td>
                <td class='text-center'>{{numBedrooms}}</td>
                <td class='text-center'>{{numBathrooms}}</td>
                <td class='text-center'>C$ {{pricePerNight}}</td>
                <td>{{city}}</td>
                <td>{{province}}</td>
                <td>{{imageUrl}}</td>
                {{#if featuredRental}}
                  <td class='text-center'><i class='fa-solid fa-circle-check'></i></td>
                {{else}}
                  <td class='text-center'><i class='fa-solid fa-circle-xmark'></i></td>
                {{/if}}
                <td><button class='btn' type='button' onclick="window.location.href='/rentals/edit/{{_id}}'">Edit</button></td>
                <td><button class='btn' type='button' onclick="window.location.href='/rentals/remove/{{_id}}'">Remove</button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class='row mt-3 mb-4 align-items-center'>
        <div class='d-flex gap-2 py-2 justify-content-center align-items-center'>
          <a class='btn bg-green' href='/load-data/rentals'>Load Rentals Data</a>
          <a class='btn bg-green' href='/rentals/add'>Add Rental</a>
        </div>
      </div>
    {{else}}
      <div class='row col col-md-2 my-4 justify-content-center align-items-center'>
        <a class='btn bg-green' href='/load-data/rentals'>Load Rentals Data</a>
      </div>
    {{/if}}
  {{/if}}
</section>